1_nifi_cfm_assets/hl7-demo.json
{"flowContents":{"identifier":"a8412537-f899-3860-bb00-f57ea8834250","instanceIdentifier":"f309865f-018b-1000-ffff-ffffc539320f","name":"ktalbert-demos","comments":"","position":{"x":5176.0,"y":1816.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"8b7256bb-f5ae-3179-b91d-24c204248cd1","instanceIdentifier":"8ef6ff2b-5689-3fb5-aa22-bad4b62878e4","name":"GenerateFlowFile","comments":"","position":{"x":-462.2208738735285,"y":72.56886000895861},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"MSH|^~\\&|XXXXXX||HealthOrg01||||ORU^R01|Q1111111111111111111|P|2.3|<cr>PID|||000000001||SMITH^JOHN||19700101|M||||||||||999999999999|123456789|<cr>PD1||||1234567890^LAST^FIRST^M^^^^^NPI|<cr>OBR|1|341856649^HNAM_ORDERID|000000000000000000|648088^Basic Metabolic Panel|||20150101000100|||||||||1620^Johnson^John^R||||||20150101000100|||M|||||||||||20150101000100|<cr>OBX|1|NM|GLU^Glucose Lvl|159|mg/dL|65-99^65^99|H|||F|||20150101000100|","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"60 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a8412537-f899-3860-bb00-f57ea8834250"},{"identifier":"6c6a4f44-b783-396b-9ffc-1efdd255c256","instanceIdentifier":"015b1002-41e0-1456-b6bd-1ad57d8e7d37","name":"Log Invalid Data","comments":"","position":{"x":1520.0,"y":600.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a8412537-f899-3860-bb00-f57ea8834250"},{"identifier":"0e2d592a-319b-3fa6-8442-13eb59b057d7","instanceIdentifier":"eaec4e51-cb90-37c6-a889-6cf963af24b9","name":"ReplaceText","comments":"","position":{"x":136.0,"y":-48.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Regular Expression":"<cr>","Replacement Value":"${literal('\\r\\n')}","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Literal Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a8412537-f899-3860-bb00-f57ea8834250"},{"identifier":"a8b21f58-f5f6-3a42-9a51-a82b8c5056cb","instanceIdentifier":"294f3968-9d26-3043-84cc-8447529dac5e","name":"PutFile","comments":"","position":{"x":144.0,"y":496.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp/hl7","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a8412537-f899-3860-bb00-f57ea8834250"},{"identifier":"972e3025-4f78-3b07-b395-878b39fc5273","instanceIdentifier":"015b1000-e563-1455-b276-5687fe65a5d0","name":"Generate Invalid HL7","comments":"","position":{"x":1288.0,"y":120.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"This is not HL7 data. ","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"3 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a8412537-f899-3860-bb00-f57ea8834250"},{"identifier":"82d55391-326b-3d68-9c75-7379e1cf0108","instanceIdentifier":"accf3b7d-8ca0-3cce-9944-44740acc61a4","name":"AttributesToJSON","comments":"","position":{"x":-464.0,"y":288.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":null,"Include Core Attributes":"true"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a8412537-f899-3860-bb00-f57ea8834250"},{"identifier":"d13e2bc7-611b-32c6-aaa3-50346e36df0a","instanceIdentifier":"015b1000-41e0-1456-9e59-af0e980b901c","name":"Log Matched Data","comments":"","position":{"x":1096.0,"y":600.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a8412537-f899-3860-bb00-f57ea8834250"},{"identifier":"6d05994a-2d9b-3503-820d-f28f5a86f302","instanceIdentifier":"4e5722bd-3cfc-3769-a309-b24cb3dd3637","name":"ExtractHL7Attributes","comments":"","position":{"x":139.1956139135209,"y":288.3615695313634},"type":"org.apache.nifi.processors.hl7.ExtractHL7Attributes","bundle":{"group":"org.apache.nifi","artifact":"nifi-hl7-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"hl7-input-version":"autodetect","use-segment-names":"true","skip-validation":"true","parse-segment-fields":"true","Character Encoding":"UTF-8"},"propertyDescriptors":{"hl7-input-version":{"name":"hl7-input-version","displayName":"HL7 Input Version","identifiesControllerService":false,"sensitive":false},"use-segment-names":{"name":"use-segment-names","displayName":"Use Segment Names","identifiesControllerService":false,"sensitive":false},"skip-validation":{"name":"skip-validation","displayName":"Skip Validation","identifiesControllerService":false,"sensitive":false},"parse-segment-fields":{"name":"parse-segment-fields","displayName":"Parse Segment Fields","identifiesControllerService":false,"sensitive":false},"Character Encoding":{"name":"Character Encoding","displayName":"Character Encoding","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a8412537-f899-3860-bb00-f57ea8834250"},{"identifier":"64650616-fc06-3519-90df-43efb49082c5","instanceIdentifier":"71eda8f7-cd5a-398e-9d9c-87c06c45d4df","name":"JoltTransformJSON","comments":"","position":{"x":-464.0,"y":496.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"jolt-spec":"{\n\t\"OBX_1.UserDefinedAccessChecks\": \"OBX_1.UserDefinedAccessChecks\",\n\t\"OBR_1.OrderingProvider.FamilyName\": \"OBR_1.OrderingProvider.FamilyName\",\n\t\"MSH.MessageControlID\": \"MSH.MessageControlID\",\n\t\"OBX_1.ObservationIdentifier.Text\": \"OBX_1.ObservationIdentifier.Text\",\n\t\"MSH.SendingApplication.NamespaceID\": \"MSH.SendingApplication.NamespaceID\",\n\t\"OBR_1.UniversalServiceIdentifier.Text\": \"OBR_1.UniversalServiceIdentifier.Text\",\n\t\"MSH.ReceivingApplication.NamespaceID\": \"MSH.ReceivingApplication.NamespaceID\",\n\t\"MSH.ProcessingID.ProcessingID\": \"MSH.ProcessingID.ProcessingID\",\n\t\"uuid\": \"uuid\",\n\t\"PID.SSNNumberPatient\": \"PID.SSNNumberPatient\",\n\t\"OBR_1.FillerOrderNumber.EntityIdentifier\": \"OBR_1.FillerOrderNumber.EntityIdentifier\",\n\t\"path\": \"path\",\n\t\"PID.PatientAccountNumber.ID\": \"PID.PatientAccountNumber.ID\",\n\t\"PID.DateOfBirth\": \"PID.DateOfBirth\",\n\t\"PD1.PatientPrimaryCareProviderNameIDNo.IDNumber\": \"PD1.PatientPrimaryCareProviderNameIDNo.IDNumber\",\n\t\"PID.Sex\": \"PID.Sex\",\n\t\"MSH.MessageType.MessageType\": \"MSH.MessageType.MessageType\",\n\t\"OBX_1.ReferencesRange\": \"OBX_1.ReferencesRange\",\n\t\"OBR_1.OrderingProvider.IDNumber\": \"OBR_1.OrderingProvider.IDNumber\",\n\t\"PD1.PatientPrimaryCareProviderNameIDNo.FamilyName\": \"PD1.PatientPrimaryCareProviderNameIDNo.FamilyName\",\n\t\"OBX_1.Units.NameOfCodingSystem\": \"OBX_1.Units.NameOfCodingSystem\",\n\t\"OBX_1.Units.Identifier\": \"OBX_1.Units.Identifier\",\n\t\"filename\": \"filename\",\n\t\"PID.PatientName.GivenName\": \"PID.PatientName.GivenName\",\n\t\"OBX_1.ObservationSubID\": \"OBX_1.ObservationSubID\",\n\t\"PD1.PatientPrimaryCareProviderNameIDNo.GivenName\": \"PD1.PatientPrimaryCareProviderNameIDNo.GivenName\",\n\t\"OBR_1.PlacerOrderNumber.NamespaceID\": \"OBR_1.PlacerOrderNumber.NamespaceID\",\n\t\"MSH.MessageType.TriggerEvent\": \"MSH.MessageType.TriggerEvent\",\n\t\"PD1.PatientPrimaryCareProviderNameIDNo.AssigningAuthority\": \"PD1.PatientPrimaryCareProviderNameIDNo.AssigningAuthority\",\n\t\"OBR_1.ResultStatus\": \"OBR_1.ResultStatus\",\n\t\"PID.PatientName.FamilyName\": \"PID.PatientName.FamilyName\",\n\t\"MSH.EncodingCharacters\": \"MSH.EncodingCharacters\",\n\t\"MSH.VersionID\": \"MSH.VersionID\",\n\t\"kafka.partition\": \"kafka.partition\",\n\t\"OBR_1.UniversalServiceIdentifier.Identifier\": \"OBR_1.UniversalServiceIdentifier.Identifier\",\n\t\"OBR_1.ObservationDateTime\": \"OBR_1.ObservationDateTime\",\n\t\"OBR_1.ScheduledDateTime\": \"OBR_1.ScheduledDateTime\",\n\t\"OBX_1.ObservationIdentifier.Identifier\": \"OBX_1.ObservationIdentifier.Identifier\",\n\t\"OBR_1.OrderingProvider.GivenName\": \"OBR_1.OrderingProvider.GivenName\",\n\t\"OBR_1.SetIDObservationRequest\": \"OBR_1.SetIDObservationRequest\",\n\t\"OBR_1.ResultsRptStatusChngDateTime\": \"OBR_1.ResultsRptStatusChngDateTime\",\n\t\"OBR_1.PlacerOrderNumber.EntityIdentifier\": \"OBR_1.PlacerOrderNumber.EntityIdentifier\",\n\t\"OBX_1.NatureOfAbnormalTest\": \"OBX_1.NatureOfAbnormalTest\",\n\t\"OBX_1.SetIDOBX\": \"OBX_1.SetIDOBX\",\n\t\"MSH.FieldSeparator\": \"MSH.FieldSeparator\",\n\t\"PD1.PatientPrimaryCareProviderNameIDNo.MiddleInitialOrName\": \"PD1.PatientPrimaryCareProviderNameIDNo.MiddleInitialOrName\",\n\t\"OBX_1.Units.Text\": \"OBX_1.Units.Text\",\n\t\"OBX_1.ValueType\": \"OBX_1.ValueType\",\n\t\"kafka.offset\": \"kafka.offset\",\n\t\"PID.PatientIDInternalID.ID\": \"PID.PatientIDInternalID.ID\",\n\t\"kafka.topic\": \"kafka.topic\",\n\t\"OBX_1.ObservationValue\": \"OBX_1.ObservationValue\",\n\t\"OBR_1.OrderingProvider.MiddleInitialOrName\": \"OBR_1.OrderingProvider.MiddleInitialOrName\"\n}","jolt-transform":"jolt-transform-shift","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a8412537-f899-3860-bb00-f57ea8834250"},{"identifier":"dbd25a00-b08b-3397-9b57-da3624912643","instanceIdentifier":"4455e563-015b-1000-8aaa-dbc0ea855d65","name":"Generate Valid HL7","comments":"","position":{"x":896.0,"y":-128.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"MSH|^~\\&|CERNER||PriorityHealth||||ORU^R01|Q479004375T431430612|P|2.3|\nPID|||001677980||SMITH^CURTIS||19680219|M||||||||||929645156318|123456789|\nPD1||||1234567890^LAST^FIRST^M^^^^^NPI|\nOBR|1|341856649^HNAM_ORDERID|000002006326002362|648088^Basic Metabolic Panel|||20061122151600|||||||||1620^Hooker^Robert^L||||||20061122154733|||F|||||||||||20061122140000|\nOBX|1|NM|GLU^Glucose Lvl|59|mg/dL|65-99^65^99|L|||F|||20061122154733|","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"3 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a8412537-f899-3860-bb00-f57ea8834250"},{"identifier":"5cc29907-ab47-3e5c-a3c8-476bdbb58c11","instanceIdentifier":"44560678-015b-1000-a9a8-c5f05d11b8d3","name":"RouteHL7","comments":"","position":{"x":1096.0,"y":352.0},"type":"org.apache.nifi.processors.hl7.RouteHL7","bundle":{"group":"org.apache.nifi","artifact":"nifi-hl7-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"glucose":"DECLARE result AS REQUIRED OBX SELECT MESSAGE WHERE result.4 < 60","Character Encoding":"UTF-8"},"propertyDescriptors":{"glucose":{"name":"glucose","displayName":"glucose","identifiesControllerService":false,"sensitive":false},"Character Encoding":{"name":"Character Encoding","displayName":"Character Encoding","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a8412537-f899-3860-bb00-f57ea8834250"},{"identifier":"1c499ea2-d946-3a73-9b85-bbe7fa92fef7","instanceIdentifier":"445641e0-015b-1000-a066-c985c0d10c08","name":"Log Unmatched Data","comments":"","position":{"x":680.0,"y":600.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a8412537-f899-3860-bb00-f57ea8834250"},{"identifier":"a6f9a143-0561-3a03-a5e8-5b6882c8c06d","instanceIdentifier":"bd1337b4-462c-171a-9d34-1a357c716d35","name":"InvokeHTTP","comments":"","position":{"x":-464.0,"y":-136.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://raw.githubusercontent.com/kevinbtalbert/HIMSS_2024/main/2_datasets/HL7_Data/NIFI_SAMPLE.hl7","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a8412537-f899-3860-bb00-f57ea8834250"},{"identifier":"31bb1295-d520-324a-83f7-f5451e79ddf9","instanceIdentifier":"015b100c-41e0-1456-9f85-82410f102e0e","name":"Ensure Carriage Returns","comments":"","position":{"x":896.0,"y":120.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import java.nio.charset.StandardCharsets\nlog.info(\"Add backslash R with Groovy!\")\ndef flowFile = session.get()\nif (!flowFile) return\n\nflowFile = session.write(flowFile, {inputStream, outputStream ->\n    String allTheData = inputStream.readLines().join(\"\\r\\n\")      \n    log.info(\"addBackslashRFromMsg allTheData = \" + allTheData)\n    outputStream.write(allTheData.getBytes(StandardCharsets.UTF_8))\n} as StreamCallback)\n\nlog.info(\"Add backslash R with Groovy all done! (before session.transfer) \")\nsession.transfer(flowFile, REL_SUCCESS)","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a8412537-f899-3860-bb00-f57ea8834250"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"930abdf3-b316-33d6-b991-b69f61b951bc","instanceIdentifier":"c8786e61-aa0a-384a-9279-0bd38e2379e5","name":"","source":{"id":"8b7256bb-f5ae-3179-b91d-24c204248cd1","type":"PROCESSOR","groupId":"a8412537-f899-3860-bb00-f57ea8834250","name":"GenerateFlowFile","comments":"","instanceIdentifier":"8ef6ff2b-5689-3fb5-aa22-bad4b62878e4"},"destination":{"id":"0e2d592a-319b-3fa6-8442-13eb59b057d7","type":"PROCESSOR","groupId":"a8412537-f899-3860-bb00-f57ea8834250","name":"ReplaceText","comments":"","instanceIdentifier":"eaec4e51-cb90-37c6-a889-6cf963af24b9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a8412537-f899-3860-bb00-f57ea8834250"},{"identifier":"90b24e11-560c-3cd9-9980-3d3ba2aafeac","instanceIdentifier":"e8ab6232-8e4b-33b9-8953-5669de47e2f5","name":"","source":{"id":"0e2d592a-319b-3fa6-8442-13eb59b057d7","type":"PROCESSOR","groupId":"a8412537-f899-3860-bb00-f57ea8834250","name":"ReplaceText","comments":"","instanceIdentifier":"eaec4e51-cb90-37c6-a889-6cf963af24b9"},"destination":{"id":"6d05994a-2d9b-3503-820d-f28f5a86f302","type":"PROCESSOR","groupId":"a8412537-f899-3860-bb00-f57ea8834250","name":"ExtractHL7Attributes","comments":"","instanceIdentifier":"4e5722bd-3cfc-3769-a309-b24cb3dd3637"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a8412537-f899-3860-bb00-f57ea8834250"},{"identifier":"b193909f-6cd0-38ab-88c8-85bff3448067","instanceIdentifier":"41a60d67-1857-36a5-bdc1-03c44d745f1d","name":"","source":{"id":"64650616-fc06-3519-90df-43efb49082c5","type":"PROCESSOR","groupId":"a8412537-f899-3860-bb00-f57ea8834250","name":"JoltTransformJSON","comments":"","instanceIdentifier":"71eda8f7-cd5a-398e-9d9c-87c06c45d4df"},"destination":{"id":"a8b21f58-f5f6-3a42-9a51-a82b8c5056cb","type":"PROCESSOR","groupId":"a8412537-f899-3860-bb00-f57ea8834250","name":"PutFile","comments":"","instanceIdentifier":"294f3968-9d26-3043-84cc-8447529dac5e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a8412537-f899-3860-bb00-f57ea8834250"},{"identifier":"22865701-0976-3346-a3c3-175ea11861de","instanceIdentifier":"0182891b-3835-3c54-a1c4-b17b948dec6c","name":"","source":{"id":"82d55391-326b-3d68-9c75-7379e1cf0108","type":"PROCESSOR","groupId":"a8412537-f899-3860-bb00-f57ea8834250","name":"AttributesToJSON","comments":"","instanceIdentifier":"accf3b7d-8ca0-3cce-9944-44740acc61a4"},"destination":{"id":"64650616-fc06-3519-90df-43efb49082c5","type":"PROCESSOR","groupId":"a8412537-f899-3860-bb00-f57ea8834250","name":"JoltTransformJSON","comments":"","instanceIdentifier":"71eda8f7-cd5a-398e-9d9c-87c06c45d4df"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a8412537-f899-3860-bb00-f57ea8834250"},{"identifier":"1d828907-331b-3b25-a3b5-d7bd0bbc6b58","instanceIdentifier":"eeb91374-018c-1000-ffff-fffff7be574a","name":"","source":{"id":"a6f9a143-0561-3a03-a5e8-5b6882c8c06d","type":"PROCESSOR","groupId":"a8412537-f899-3860-bb00-f57ea8834250","name":"InvokeHTTP","comments":"","instanceIdentifier":"bd1337b4-462c-171a-9d34-1a357c716d35"},"destination":{"id":"0e2d592a-319b-3fa6-8442-13eb59b057d7","type":"PROCESSOR","groupId":"a8412537-f899-3860-bb00-f57ea8834250","name":"ReplaceText","comments":"","instanceIdentifier":"eaec4e51-cb90-37c6-a889-6cf963af24b9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a8412537-f899-3860-bb00-f57ea8834250"},{"identifier":"c03e76bb-7432-3c9c-8831-a79d903ce194","instanceIdentifier":"015b1004-41e0-1456-a33d-ae8d39fb3a3e","name":"","source":{"id":"5cc29907-ab47-3e5c-a3c8-476bdbb58c11","type":"PROCESSOR","groupId":"a8412537-f899-3860-bb00-f57ea8834250","name":"RouteHL7","comments":"","instanceIdentifier":"44560678-015b-1000-a9a8-c5f05d11b8d3"},"destination":{"id":"6c6a4f44-b783-396b-9ffc-1efdd255c256","type":"PROCESSOR","groupId":"a8412537-f899-3860-bb00-f57ea8834250","name":"Log Invalid Data","comments":"","instanceIdentifier":"015b1002-41e0-1456-b6bd-1ad57d8e7d37"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a8412537-f899-3860-bb00-f57ea8834250"},{"identifier":"b2951c44-4e97-32d5-b0c7-aa93738cc8b6","instanceIdentifier":"58557a3e-b987-385f-a3b6-8092bf0bc8c6","name":"","source":{"id":"6d05994a-2d9b-3503-820d-f28f5a86f302","type":"PROCESSOR","groupId":"a8412537-f899-3860-bb00-f57ea8834250","name":"ExtractHL7Attributes","comments":"","instanceIdentifier":"4e5722bd-3cfc-3769-a309-b24cb3dd3637"},"destination":{"id":"82d55391-326b-3d68-9c75-7379e1cf0108","type":"PROCESSOR","groupId":"a8412537-f899-3860-bb00-f57ea8834250","name":"AttributesToJSON","comments":"","instanceIdentifier":"accf3b7d-8ca0-3cce-9944-44740acc61a4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a8412537-f899-3860-bb00-f57ea8834250"},{"identifier":"d30cb75e-3d4a-35c1-b5a7-45cf8fa9943b","instanceIdentifier":"015b100e-41e0-1456-a711-4ddc982ed2cb","name":"","source":{"id":"dbd25a00-b08b-3397-9b57-da3624912643","type":"PROCESSOR","groupId":"a8412537-f899-3860-bb00-f57ea8834250","name":"Generate Valid HL7","comments":"","instanceIdentifier":"4455e563-015b-1000-8aaa-dbc0ea855d65"},"destination":{"id":"31bb1295-d520-324a-83f7-f5451e79ddf9","type":"PROCESSOR","groupId":"a8412537-f899-3860-bb00-f57ea8834250","name":"Ensure Carriage Returns","comments":"","instanceIdentifier":"015b100c-41e0-1456-9f85-82410f102e0e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a8412537-f899-3860-bb00-f57ea8834250"},{"identifier":"83892b39-9fc7-3ba2-92cf-29aea9cbe89e","instanceIdentifier":"015b1003-41e0-1456-a8a7-18e688bf6248","name":"","source":{"id":"5cc29907-ab47-3e5c-a3c8-476bdbb58c11","type":"PROCESSOR","groupId":"a8412537-f899-3860-bb00-f57ea8834250","name":"RouteHL7","comments":"","instanceIdentifier":"44560678-015b-1000-a9a8-c5f05d11b8d3"},"destination":{"id":"1c499ea2-d946-3a73-9b85-bbe7fa92fef7","type":"PROCESSOR","groupId":"a8412537-f899-3860-bb00-f57ea8834250","name":"Log Unmatched Data","comments":"","instanceIdentifier":"445641e0-015b-1000-a066-c985c0d10c08"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a8412537-f899-3860-bb00-f57ea8834250"},{"identifier":"146c7921-86fc-3c37-8e42-7249e15111f4","instanceIdentifier":"015b1002-e563-1455-813a-ced65586dd0d","name":"","source":{"id":"972e3025-4f78-3b07-b395-878b39fc5273","type":"PROCESSOR","groupId":"a8412537-f899-3860-bb00-f57ea8834250","name":"Generate Invalid HL7","comments":"","instanceIdentifier":"015b1000-e563-1455-b276-5687fe65a5d0"},"destination":{"id":"5cc29907-ab47-3e5c-a3c8-476bdbb58c11","type":"PROCESSOR","groupId":"a8412537-f899-3860-bb00-f57ea8834250","name":"RouteHL7","comments":"","instanceIdentifier":"44560678-015b-1000-a9a8-c5f05d11b8d3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a8412537-f899-3860-bb00-f57ea8834250"},{"identifier":"c3c1e740-88ff-3df4-90f2-7b7ab7fd7248","instanceIdentifier":"015b100d-41e0-1456-b24f-ff1081d2442f","name":"","source":{"id":"31bb1295-d520-324a-83f7-f5451e79ddf9","type":"PROCESSOR","groupId":"a8412537-f899-3860-bb00-f57ea8834250","name":"Ensure Carriage Returns","comments":"","instanceIdentifier":"015b100c-41e0-1456-9f85-82410f102e0e"},"destination":{"id":"5cc29907-ab47-3e5c-a3c8-476bdbb58c11","type":"PROCESSOR","groupId":"a8412537-f899-3860-bb00-f57ea8834250","name":"RouteHL7","comments":"","instanceIdentifier":"44560678-015b-1000-a9a8-c5f05d11b8d3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a8412537-f899-3860-bb00-f57ea8834250"},{"identifier":"6281bbbf-1046-3f4b-a88b-b0e618c4096e","instanceIdentifier":"015b1005-41e0-1456-bb5a-09023b75e40b","name":"","source":{"id":"5cc29907-ab47-3e5c-a3c8-476bdbb58c11","type":"PROCESSOR","groupId":"a8412537-f899-3860-bb00-f57ea8834250","name":"RouteHL7","comments":"","instanceIdentifier":"44560678-015b-1000-a9a8-c5f05d11b8d3"},"destination":{"id":"d13e2bc7-611b-32c6-aaa3-50346e36df0a","type":"PROCESSOR","groupId":"a8412537-f899-3860-bb00-f57ea8834250","name":"Log Matched Data","comments":"","instanceIdentifier":"015b1000-41e0-1456-9e59-af0e980b901c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["glucose"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a8412537-f899-3860-bb00-f57ea8834250"}],"labels":[{"identifier":"f42fb87f-3478-3894-8230-94662241f9f9","instanceIdentifier":"e7173100-018c-1000-0000-0000712b9b0d","position":{"x":-128.0,"y":-192.0},"label":"HL7 Ingestion Using Generated HL7 and InvokeHTTP","zIndex":0,"width":304.0,"height":32.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"a8412537-f899-3860-bb00-f57ea8834250"},{"identifier":"36fcdef2-e051-3196-a5bc-d41dad2e517b","instanceIdentifier":"b6bd37a6-d5e6-1389-98cf-90eacb6d2335","position":{"x":1112.0,"y":-200.0},"label":"HL7 Processing and Routing Example\nUsing Valid and Invalid HL7 and Routing on Attribute","zIndex":0,"width":304.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"a8412537-f899-3860-bb00-f57ea8834250"}],"funnels":[],"controllerServices":[{"identifier":"c71fe9ef-857a-3455-a1c9-4afc71f5c2c1","instanceIdentifier":"e47a017a-6bb4-30e6-aa1d-1523ed83eb8f","name":"KeytabCredentialsService_BAPFD0101M","comments":"","type":"org.apache.nifi.kerberos.KeytabCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kerberos-credentials-service-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Kerberos Keytab":"#{Settingfile_path}/nifi.keytab","Kerberos Principal":"nifi/${hostname(true)}@ASSET-PF.TEPCUBE.JP"},"propertyDescriptors":{"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kerberos.KerberosCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f309865f-018b-1000-ffff-ffffc539320f"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}